refpolicy/doc/policy.dtd

<!ELEMENT policy (module+,tunable*)>
<!ELEMENT module (summary,interface+)>
<!ATTLIST module 
      name CDATA #REQUIRED
      layer CDATA #REQUIRED>
<!ELEMENT tunable (#PCDATA)>
<!ATTLIST tunable
      name CDATA #REQUIRED
      dftval CDATA #REQUIRED>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT interface (description,securitydesc*,parameter+,infoflow?)>
<!ATTLIST interface name CDATA #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT securitydesc (#PCDATA)>
<!ELEMENT parameter (#PCDATA)>
<!ATTLIST parameter 
      name CDATA #REQUIRED
      optional (true|false) "false">
<!ELEMENT infoflow EMPTY>
<!ATTLIST infoflow 
      type CDATA #REQUIRED
      weight CDATA #IMPLIED>
